.pnpm-store/
node_modules/
vendor/
pnpm-debug.log*
*.log

.DS_Store
Thumbs.db
.idea/
.vscode/

wp-admin/
wp-includes/
wp-*.php
index.php
license.txt
readme.html
xmlrpc.php

!wp-content/
!wp-content/themes/nais-theme/index.php

wp-content/upgrade/
wp-content/backup-db/
wp-content/cache/
wp-content/et-cache/
wp-content/uploads/
wp-content/w3tc-config/